services:
  idb:
    image: idb:v0.0.2 # 镜像版本
    container_name: idb
    env_file:
      - .env   # 加载 .env 文件中的变量，如 HOST_PORT 和 CONTAINER_PORT
    volumes:
      - /etc/idb:/etc/idb
      - /var/lib/idb/data:/var/lib/idb/data
      - /var/log/idb:/var/log/idb
      - /run/idb:/run/idb
    ports:
      - "${HOST_PORT:-9918}:${CONTAINER_PORT:-9918}"  # 默认端口9918
    environment:
      - PORT=${CONTAINER_PORT:-9918} # 容器内部的 PORT 变量
    restart: unless-stopped
    command: ["/var/lib/idb/entrypoint.sh", "/var/lib/idb/idb"]  # 在容器启动时运行 configure.sh 脚本