[req]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[req_distinguished_name]
C  = CN
ST = Guangdong
L  = Guangzhou
O  = Sensdata
OU = iDB Certificate Authority
CN = Sensdata iDB Root CA
emailAddress = support@sensdata.com

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.sensdata.com