[Unit]
Description=IDB Service
After=syslog.target network.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/var/lib/idb/idb start
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=5
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=1048576
Delegate=yes
KillMode=process
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
