[Unit]
Description=IDB Service
After=syslog.target network.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/idb start
ExecStop=/usr/local/bin/idb stop
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=5
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=1048576
Delegate=yes
KillMode=process
StandardOutput=append:/var/log/idb/idb-run.log
StandardError=append:/var/log/idb/idb-run.log

[Install]
WantedBy=multi-user.target
