[Unit]
Description=IDB Agent Service
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/idbagent start
Restart=always
RestartSec=5
User=idb
Group=idb

[Install]
WantedBy=multi-user.target
