name: Build and Export Docker Image of IDB

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 签出
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker Image
        run: |
          cd center
          docker build -t idb:${{ github.ref_name }} .

      - name: Save Docker Image as Tarball
        run: |
          docker save -o idb_${{ github.ref_name }}.tar idb:${{ github.ref_name }}

      # 设置 SSH
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      
      # 创建远程目录
      - name: Create deploy directory
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} 'mkdir -p /data/www/static.sensdata.com/idb/release/${{ github.ref_name }}'

      # 上传 Docker 镜像到目标服务器
      - name: Deploy Center
        run: | 
          scp -q idb_${{ github.ref_name }}.tar ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/data/www/static.sensdata.com/idb/release/${{ github.ref_name }}

    # steps:
    # - name: Checkout repository
    #   uses: actions/checkout@v3
    #   with:
    #       submodules: true
    #       fetch-depth: 0
    # - name: Set up Docker Buildx
    #   uses: docker/setup-buildx-action@v2

    # - name: Log in to Docker Hub
    #   uses: docker/login-action@v2
    #   with:
    #     username: ${{ secrets.DOCKER_USERNAME }} # 在GitHub Secrets中设置
    #     password: ${{ secrets.DOCKER_PASSWORD }} # 在GitHub Secrets中设置

    # - name: Cache Docker layers
    #   uses: actions/cache@v3
    #   with:
    #     path: /tmp/.buildx-cache
    #     key: ${{ runner.os }}-buildx-${{ github.sha }}
    #     restore-keys: |
    #       ${{ runner.os }}-buildx-

    # - name: Build and push Docker image
    #   uses: docker/build-push-action@v5
    #   with:
    #     context: .
    #     file: ./Dockerfile  # Dockerfile所在位置
    #     push: true
    #     tags: ${{ secrets.DOCKER_USERNAME }}/idb:latest

    # - name: Post image digest
    #   run: echo "Docker image available: ${{ secrets.DOCKER_USERNAME }}/idb:latest"
