name: Build and Export Docker Image of IDB

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:  # 添加手动触发
    inputs:
      version:
        description: "Specify the version tag for the build (e.g., v1.0.0)"
        required: false  # 手动触发时允许不传递版本号
        default: "manual"  # 如果手动触发时没有传递版本号，默认使用 "manual"
        
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 签出
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # 定义 VERSION_TAG 变量
      - name: Set VERSION_TAG
        run: |
          if [ "${{ github.ref_name }}" ]; then
            echo "VERSION_TAG=${{ github.ref_name }}" >> $GITHUB_ENV
          else
            echo "VERSION_TAG=${{ github.event.inputs.version }}" >> $GITHUB_ENV
        shell: bash

      # 构建 Docker 镜像
      - name: Build Docker Image
        run: |
          cd center
          docker build -t idb:${{ env.VERSION_TAG }} .

      # 保存 Docker 镜像
      - name: Save Docker Image as Tarball
        run: |
          docker save -o idb_image_${{ env.VERSION_TAG }}.tar idb:${{ env.VERSION_TAG }}

      # 设置 SSH
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      
      # 创建远程目录
      - name: Create deploy directory
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} 'mkdir -p /data/www/static.sensdata.com/idb/release/${{ env.VERSION_TAG }}'

      # 上传 Docker 镜像到目标服务器
      - name: Deploy Center
        run: | 
          scp idb_image_${{ env.VERSION_TAG }}.tar ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/data/www/static.sensdata.com/idb/release/${{ env.VERSION_TAG }}

    # steps:
    # - name: Checkout repository
    #   uses: actions/checkout@v3
    #   with:
    #       submodules: true
    #       fetch-depth: 0
    # - name: Set up Docker Buildx
    #   uses: docker/setup-buildx-action@v2

    # - name: Log in to Docker Hub
    #   uses: docker/login-action@v2
    #   with:
    #     username: ${{ secrets.DOCKER_USERNAME }} # 在GitHub Secrets中设置
    #     password: ${{ secrets.DOCKER_PASSWORD }} # 在GitHub Secrets中设置

    # - name: Cache Docker layers
    #   uses: actions/cache@v3
    #   with:
    #     path: /tmp/.buildx-cache
    #     key: ${{ runner.os }}-buildx-${{ github.sha }}
    #     restore-keys: |
    #       ${{ runner.os }}-buildx-

    # - name: Build and push Docker image
    #   uses: docker/build-push-action@v5
    #   with:
    #     context: .
    #     file: ./Dockerfile  # Dockerfile所在位置
    #     push: true
    #     tags: ${{ secrets.DOCKER_USERNAME }}/idb:latest

    # - name: Post image digest
    #   run: echo "Docker image available: ${{ secrets.DOCKER_USERNAME }}/idb:latest"
