name: Build and Export Docker Image of IDB

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:  # 添加手动触发
    inputs:
      version:
        description: "Specify the version tag for the build (e.g., v1.0.0)"
        required: false  # 手动触发时允许不传递版本号
        default: "manual"  # 如果手动触发时没有传递版本号，默认使用 "manual"

run-name: Build IDB - ${{ github.event.inputs.version || github.ref_name }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 签出
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      # 登录 Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 定义 VERSION_TAG 变量
      - name: Set VERSION_TAG
        run: |
          if [ "${{ github.event.inputs.version }}" ]; then
            echo "VERSION_TAG=${{ github.event.inputs.version }}" >> $GITHUB_ENV
          else
            echo "VERSION_TAG=${{ github.ref_name }}" >> $GITHUB_ENV
          fi
        shell: bash

      # 打印 VERSION_TAG 用于调试
      - name: Debug VERSION_TAG
        run: |
          VERSION=${{ env.VERSION_TAG }}
          echo "VERSION_TAG is: $VERSION"

      # 构建 Docker 镜像，并加载到本地 daemon
      - name: Build Docker Image
        run: |
          docker buildx build \
            --build-arg VERSION=${{ env.VERSION_TAG }} \
            -t idb:${{ env.VERSION_TAG }} \
            --load \
            .

      # 复制 Agent 包
      - name: Extract Agent Package
        run: |
          docker create --name temp_container idb:${{ env.VERSION_TAG }}
          docker cp temp_container:/var/lib/idb/agent/idb-agent.tar.gz ./idb-agent_${{ env.VERSION_TAG }}.tar.gz
          docker rm temp_container

      # 推送到 Docker Hub
      - name: Push to Docker Hub
        run: |
          docker tag idb:${{ env.VERSION_TAG }} ${{ secrets.DOCKERHUB_ORG }}/idb:${{ env.VERSION_TAG }}
          docker tag idb:${{ env.VERSION_TAG }} ${{ secrets.DOCKERHUB_ORG }}/idb:latest
          docker push ${{ secrets.DOCKERHUB_ORG }}/idb:${{ env.VERSION_TAG }}
          docker push ${{ secrets.DOCKERHUB_ORG }}/idb:latest

      # 保存 Docker 镜像
      - name: Save Docker Image as Tarball
        run: |
          docker save -o idb_image_${{ env.VERSION_TAG }}.tar idb:${{ env.VERSION_TAG }}

      # 设置 SSH
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      
      # 创建远程目录
      - name: Create deploy directory
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} 'mkdir -p /data/www/static.sensdata.com/idb/release/${{ env.VERSION_TAG }}'

      # 上传 Docker 镜像到目标服务器
      - name: Deploy Center
        run: | 
          scp idb_image_${{ env.VERSION_TAG }}.tar ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/data/www/static.sensdata.com/idb/release/${{ env.VERSION_TAG }}
          scp idb-agent_${{ env.VERSION_TAG }}.tar.gz ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/data/www/static.sensdata.com/idb/release/${{ env.VERSION_TAG }}

      # 更新 Latest 版本号
      - name: Update Latest Version File
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "echo '${{ env.VERSION_TAG }}' > /data/www/static.sensdata.com/idb/release/latest"

      # 上传 scripts
      - name: Upload scripts
        run: |
          scp ./scripts/install.sh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/data/www/static.sensdata.com/idb/release
          scp ./scripts/uninstall.sh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/data/www/static.sensdata.com/idb/release
          scp ./scripts/upgrade.sh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/data/www/static.sensdata.com/idb/release

      # 创建临时 .env 文件并替换 iDB_image_version
      - name: Create temporary .env file
        run: |
          cp ./center/.env .env  # 从 center 目录复制 .env 文件
          cp ./center/docker-compose.yaml docker-compose.yaml  # 从 center 目录复制 docker-compose.yaml 文件
          sed -i "s/^iDB_image_version=.*/iDB_image_version=${{ env.VERSION_TAG }}/" .env  # 修改 iDB_image_version

      # 上传临时 .env 和 docker-compose.yaml 到对应版本的 release 目录下
      - name: Upload temporary .env and docker-compose.yaml
        run: |
          scp .env ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/data/www/static.sensdata.com/idb/release/${{ env.VERSION_TAG }}
          scp docker-compose.yaml ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/data/www/static.sensdata.com/idb/release/${{ env.VERSION_TAG }}

      # 清理临时文件
      - name: Clean up temporary files
        run: |
          rm .env  # 删除临时 .env 文件
          rm docker-compose.yaml  # 删除临时 docker-compose.yaml 文件