name: CI/CD Pipeline

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 签出
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0
      
      # # 列出当前目录
      # - name: List files
      #   run: ls

      # Go 环境
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      # # Agent 模块
      # - name: Tidy Go modules for Agent
      #   run: |
      #     cd ./agent
      #     go mod tidy

      # 缓存 Go 模块 for Agent
      - name: Cache Go modules for Agent
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ${{ github.workspace }}/go/pkg/mod
          key: ${{ runner.os }}-go-agent-${{ hashFiles('./agent/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-agent-

      # 编译 Agent
      - name: Build Agent
        run: |
          cd ./agent
          mkdir -p out
          GOOS=linux GOARCH=amd64 go build -o out/idb-agent -ldflags "-s -w" .

      # 打包 Agent
      - name: Package Agent
        run: |
          cd ./agent
          mkdir -p out/release/${{ github.ref_name }}
          tar -czvf out/release/${{ github.ref_name }}/idb-agent-${{ github.ref_name }}.tar.gz out/idb-agent idb-agent.json idb-agent.service

      # # Center 模块
      # - name: Tidy Go modules for Center
      #   run: |
      #     cd idb/center
      #     go mod tidy

      # 缓存 Go 模块 for Center
      - name: Cache Go modules for Center
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ${{ github.workspace }}/go/pkg/mod
          key: ${{ runner.os }}-go-center-${{ hashFiles('./center/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-center-

      # 编译 Center
      - name: Build Center
        run: |
          cd ./center
          mkdir -p out
          GOOS=linux GOARCH=amd64 go build -o out/idb-center -ldflags "-s -w" .

      # 打包 Center
      - name: Package Center
        run: |
          cd ./center
          mkdir -p out/release/${{ github.ref_name }}
          tar -czvf out/release/${{ github.ref_name }}/idb-center-${{ github.ref_name }}.tar.gz out/idb-center idb-center.json idb-center.service

      # 设置 SSH
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      # 创建远程目录
      - name: Create deploy directory
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} 'mkdir -p /data/www/static.sensdata.com/idb/release/${{ github.ref_name }}'

      # 拷贝 Agent 包
      - name: Deploy Agent
        run: |
          cd ./agent
          scp out/release/${{ github.ref_name }}/idb-agent-${{ github.ref_name }}.tar.gz ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/data/www/static.sensdata.com/idb/release/${{ github.ref_name }}

      # 拷贝 Center 包
      - name: Deploy Center
        run: |    
          cd ./center
          scp out/release/${{ github.ref_name }}/idb-center-${{ github.ref_name }}.tar.gz ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}:/data/www/static.sensdata.com/idb/release/${{ github.ref_name }}

      # 更新 Latest 版本号
      - name: Update Latest Version File
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} "echo '${{ github.ref_name }}' > /data/www/static.sensdata.com/idb/release/latest"


